@import "./Variables.scss";

.section2{
    background-color: (#FDF5E6);
}
.who{
    font-family: $font-title;
    color: $verde-oscuro;
    font-size: 2rem;
    text-align: center;   
    padding-top: 30px;
    padding-bottom: 30px;

}
.profile{
     display: flex;
     flex-direction: column;
     padding: 10px;
    
     gap: 15px;


     text-align: center;
     align-items: center;
     @media (min-width: 768px){
       

     }
    
     
    &__img{
        background-color: $gris-claro;
        border-radius: 50%;
        width: 300px;
        justify-self: center;
        @media (min-width: 768px){
            grid-row: span 3;
            
            width: 250px;
        }
       
           
    }



}



    
.description{
        font-family: $font-all;
        padding-left: 45px;
        padding-right: 45px;
        font-family: $font-all;
        font-size: 1rem;
        color: rgb(102, 102, 70);
        
    }
.name{
        font-family: $font-all;
        font-size: 1.3rem;
        color: rgb(102, 102, 70);
       
    }
    







































/*.aboutus{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $font-title;
    margin: auto;

    &__who{
        color: $verde-claro;    
    }
    
}
.article{
    display: flex;
    flex-direction: column;

}
.name{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: $font-all;
    flex-direction: column;
    padding-top: 10%;
    padding: 5%;
    
    &__who{
        color: $verde-claro;
    }
}
.figure{
    padding: 1%;
}
.img {
    width: 20%;
      
}
 

 .description{
    padding-left: 15px;
    padding-right: 15px;
 }
 .socialmedia{
    padding-top: 5%;
    
 }*/



