
.divCV{
    display: flex;
    flex-direction: column;
    &__h3{
        text-align: center;
        background-color: (#3B4A3F);
        font-family: Rubik;
        font-size: 1.5REM;
        text-align: center;
        padding: 15px;
        color: white;
    }
    &__h3.collapsed::after{
      content: "▼";
      color: white;
    }
    &__h3:not(.collapsed)::after{
      content: "▲";
      color: white;
    }
    &__img{
        padding: 30px;
        background-color: (#FDF5E6);
        
    }
    
}
