@import "./Variables.scss";

.divFooter{
    background-color: (#E29578);
    border-top: 1px solid $gris-claro;
    width: 100%;
    
    &__socialmedia{
        display:flex;
        flex-direction: row;
        justify-content: center;
        padding: 15px;
        gap: 10px;
        &--logo{
            color: white;
            font-size: 1.5rem;
        }
        @media (min-width: 768px) {
      
            padding-right: 45px;
        }
        @media (min-width: 768px) {
            
            padding-left: 138px;
            padding-right: 138px;
        }
        
    }
 
    
}
.figure{
    display: flex;
    &__img{
        width: 100px;
    }
}


    
    
       
       
 

