@import "./Variables.scss";

.lema {
    font-size: 18px;
    background-color: white;
    text-align: center;
    font-family: $font-all;
    transform: translateY(-25px);
    margin-left: 150px;
    margin-right: 150px;
   
}


.equipo {
    &__container {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $verde-oscuro;
        @media (min-width: 768px){
            padding-left: 45px;
            padding-right: 45px;
        }

   
    
        h3 {
            color: $blanco;
            text-align: center;
            line-height: 45px;
            font-size: 24px;
            font-family: $font-title;
        }
        p {  
            text-align: center;
            padding: 30px 15px;
            font-family: $font-all;
            color: $blanco;
            line-height: 24px;

            
            }
        }
    &__box {
        height: 30px;
        width: 30px;
        background-color: $rosa-oro;
        transform: translateY(15px) rotate(45deg);
       
    }
}
.fyd {
    background-color: (#FDF5E6);
    text-align: center;
    padding-bottom: 45px;
    display: flex;
    flex-direction: column;
        @media (min-width:768px){
            flex-direction: row;
            padding-left: 45px;
            padding-right: 45px;
            gap: 30px;
        }
        h4 {
        color:$negro;
        font-size: 22px;
        padding-top: 30px;
        font-family: $font-title;
        line-height: 45px;
        }
        p {
        font-family: $font-all;
        color: $negro;
        line-height: 24px;
        }
}

.button{
    .button {
        text-align: auto;
        background-color: (#E29578) ;
        font-family: $font-all;
        font-weight: 500;
        color: $blanco;
        font-size: 1rem;
        border-radius: 30px;
        border: none;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 24px;
        padding-right: 24px;
        cursor: pointer;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    
    }
}


