@import "./Variables.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

.header {
    
    background-image: url(../images/foto-rociolopez.jpg);
    background-position: center;
    background-size: cover;
    &__titulo {
    background-color: rgb(102, 102, 70);
     color: #fff;
     font-family: Rubik;
     font-size: 1.5REM;
     text-align: center;
     padding-left: 80px;
     padding-right: 80px;
     padding-bottom: 15px;
     padding-top: 15px;
    }
    &__list {
        background-color: rgb(179, 179, 142);
        color: #ffffff; 
        display: flex;
        list-style: none;
        padding: 16px ;
        font-family: Rubik;
        font-size: 15px;
        padding: 16px;
        justify-content: space-around;
         } 
    &__img {
      width: 100%;
    }
}

 
    