.sectionProject {
    display: flex;
    flex-direction: column;
    background-color:  (#FDF5E6);
  
    &__h2 {
      color: #fff;
      font-family: Rubik;
      font-size: 1.5REM;
      text-align: center;
      padding: 15px;
      background-color: (#3B4A3F);
    }

    &__h2.collapsed::after{
      content: "▼";
    }
    &__h2:not(.collapsed)::after{
      content: "▲";
    }
  
    &__div {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 25px;
      gap: 30px;
     
  
      &--title {
        color: white;
        text-align: center;
        padding: 15px;
      }
  
      // hovered se aplique a un item específico.
      &__item {
        transition: transform 0.3s ease-in-out; // Transición para el contenedor del proyecto
  
        // Aquí es donde aplicamos la clase hovered.
        
      }
  
      &--img {
        min-width: 200px;
        width: 100%;
        


        transition: transform 0.3s ease-in-out; // Transición suave para la imagen
      }
    }
  }
  .hovered {
    transform: scale(1.2);
    //&--img {
      //transform: scale(1.1); // Amplía la imagen al 110%
   // }
  }