.sectionProject {
    display: flex;
    flex-direction: column;
    background-color: rgb(102, 102, 70);
  
    &__h2 {
      color: #fff;
      font-family: Rubik;
      font-size: 1.5REM;
      text-align: center;
      padding: 15px;
      background-color: rgb(179, 179, 142);
    }
  
    &__div {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px;
      gap: 30px;
  
      &--title {
        color: white;
        text-align: center;
        padding: 15px;
      }
  
      // hovered se aplique a un item específico.
      &__item {
        transition: transform 0.3s ease-in-out; // Transición para el contenedor del proyecto
  
        // Aquí es donde aplicamos la clase hovered.
        
      }
  
      &--img {
        width: 330px;
        transition: transform 0.3s ease-in-out; // Transición suave para la imagen
      }
    }
  }
  .hovered {
    transform: scale(1.2);
    //&--img {
      //transform: scale(1.1); // Amplía la imagen al 110%
   // }
  }