// fonts
$font-title: 'Rubik';
$font-all: 'Open Sans';
$verde-oscuro: (#3B4A3F);
$rosa-oro: (#E29578);
$blanco: #ffffff;
$negro: #000000;
$gris-oscuro: #54585a;
$gris-claro: #b8b8b9;
$gris-de-fondo: #f1f1f1;